In [1]:
import pandas as pd
import seaborn as sns
from scipy import stats
import numpy as np

In [2]:
pd.read_csv('BuyerRatio.csv')

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
Buyers=[[50,142,131,70],[435,1523,1356,750]]
Buyers

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [4]:
stat,p_val,dof,expected=stats.chi2_contingency(Buyers)
print('dof=%d' % dof)
print(p_val)

dof=3
0.6603094907091882

In [5]:
if p_val<0.05:
    print('Not all proportions are equal')
else:
    print('All proportions are equal')

All proportions are equal