In [1]:
import pandas as pd
import seaborn as sns
from scipy import stats
import numpy as np

In [2]:
Costomer_OrderForm=pd.read_csv('Costomer+OrderForm.csv')
Costomer_OrderForm

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
Costomer_OrderForm['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [4]:
Costomer_OrderForm['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [5]:
Costomer_OrderForm['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [6]:
pd.DataFrame({'Country':['Phillippines','Indonesia','Malta','India'],'Error Free':[271,267,269,280],'Defective':[29,33,31,20]})

        Country  Error Free  Defective
0  Phillippines         271         29
1     Indonesia         267         33
2         Malta         269         31
3         India         280         20

In [7]:
Tellecell_table=[[271,29],[267,33],[269,31],[280,20]]
Tellecell_table

[[271, 29], [267, 33], [269, 31], [280, 20]]

In [8]:
stat,p_val,dof,expected=stats.chi2_contingency(Tellecell_table)
p_val,dof

(0.2771020991233144, 3)

In [9]:
if p_val<0.05:
    print('The defective percentage varies by center')
else:
    print('The defective percentage do not vary by center')

The defective percentage do not vary by center